.items {
    width: 55%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 0%; 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.childItems {
    width: 250px;
    height: 220px;
    margin: auto auto auto auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.itemImage{
    display: block;
    width: 220px;
    height: 130px;
    margin: auto auto auto auto;
}
.itemImage img{

    width: 200px;
    height: 120px;
    margin: auto auto auto auto;
}
.itemPriceCart{
  
display: flex;
justify-content: space-around;
gap: 20px;
}

.itemPriceCart button{
    height: 30px;
    margin-top: 6px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.searchItems{
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.searchItems input{
   width: 250px;
   border: none;
   border-bottom: solid 1px;
}
.searchItems button{
   
    background-color: black;
    color: white;
 }

 .leftAllignSideBar{
    margin-left: 100px;
    display: flex;
    gap: 110px;

 }