.items {
    width: 55%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    margin: auto auto auto auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

@media  (max-width: 480px) {
  
    .items {
        width: auto;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
        margin: auto auto auto -80px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .childItems {
        width: auto;
        height: auto;
        margin: auto auto auto auto;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    }

    .leftAlignSideBar{
        margin-left: 0px;
        display: flex;
        gap: 0px;
    
     }
    .filterBtn{
        display: block ;
    }
    .itemHide{
        display: none;
    }
  }

  @media  (max-width: 896px) {
  
    .items {
        width: auto;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
        margin: auto auto auto -30px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .childItems {
        width: auto;
        height: auto;
        margin: auto auto auto auto;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    }

    .leftAlignSideBar{
        margin-left: 0px;
        display: flex;
        gap: 0px;
    
     }
    .filterBtn{
        display: block ;
    }
    .itemHide{
        display: none;
    }
  }

  @media  (min-width: 480px) {

.filterBtn{
    display: none;
}
  }
.childItems {
    width: 250px;
    height: 220px;
    margin: auto auto auto auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.itemImage{
    display: block;
    width: 220px;
    height: 130px;
    margin: auto auto auto auto;
}
.itemImage img{

    width: 200px;
    height: 120px;
    margin: auto auto auto auto;
}
.itemPriceCart{
  
display: flex;
justify-content: space-around;
gap: 20px;
}

.itemPriceCart button{
    height: 30px;
    margin-top: 6px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.searchItems{
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.searchItems input{
   width: 250px;
   border: none;
   border-bottom: solid 1px;
}
.searchItems button{
   
    background-color: black;
    color: white;
 }

 .leftAlignSideBar{
    margin-left: 100px;
    display: flex;
    gap: 110px;

 }