.parent{
    width: 400px;
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

@media  (max-width: 480px) {
    .parent{
       
        width: 400px;
        height: 100%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    }
    .hideParent{
        display: none;
    }
  }
.container{
    margin: auto auto auto 20px;
}
.color{
    margin: auto auto auto auto;
    
}
.colorRed{
    display: flex;
    gap: 5px;
}
.colorBlue{
    display: flex;
    gap: 5px;
}
.colorGreen{
    display: flex;
    gap: 5px;
}

.genderMen{
    display: flex;
    gap: 5px;
}
.genderWomen{
    display: flex;
    gap: 5px;
}

.childPrice1{
    display: flex;
    gap: 5px;
}
.childPrice2{
    display: flex;
    gap: 5px;
}
.childPrice3{
    display: flex;
    gap: 5px;
}
.polo{
    display: flex;
    gap: 5px;
}
.hoodie{
    display: flex;
    gap: 5px;
}
.basic{
    display: flex;
    gap: 5px;
}